body{
    margin-right: 3px;
}

.navrigh{
    margin-right: 6px;
}
.links{
    margin-right: 5px;
}
.liste-inline li {
	display: inline;
	padding: 10px;
} 

.liste-inline i{
	font-size: 50px;
	color: #B8B0C0;
} 

.liste-inline i:hover{
	color: blue;
} 
.follow{
    text-align: center;
} 

#hero {
    width: 100%;
    height: 80vh;
    background: url("img/hero-bg.jpeg") center center;
    background-size: cover;
    position: relative;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}